<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam | E-Tilang</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        /* Your existing CSS styles here */
    </style>
</head>
<body>
    <header class="feature-box top">
        <a href="/home" class="back-button">&larr; Back</a>
        <h1><strong>Helmet Detection Using Webcam</strong></h1>
    </header>
    <section class="col-sm">
        <video id="video" width="640" height="480" autoplay></video>
        <select id="camera-select"></select>
        <button id="start-camera">Start Camera</button>
        <button id="stop-camera">Stop Camera</button>
        
    </section>

    <script>
        var socket = io();
        var img = document.getElementById('video-stream');
        var video = document.getElementById('video');
        var cameraSelect = document.getElementById('camera-select');
        var startButton = document.getElementById('start-camera');
        var stopButton = document.getElementById('stop-camera');
        let stream;
        let selectedCameraId;

        // Get a list of available camera devices
        navigator.mediaDevices.enumerateDevices()
            .then(devices => {
                devices.forEach(device => {
                    if (device.kind === 'videoinput') {
                        const option = document.createElement('option');
                        option.value = device.deviceId;
                        option.text = device.label;
                        cameraSelect.appendChild(option);
                    }
                });
            })
            .catch(err => console.error('Error enumerating devices:', err));

        startButton.addEventListener('click', async () => {
            try {
                selectedCameraId = cameraSelect.value;
                stream = await navigator.mediaDevices.getUserMedia({
                    video: {
                        deviceId: selectedCameraId
                    }
                });
                video.srcObject = stream;
            } catch (err) {
                console.error('Error accessing the camera:', err);
            }
        });

        stopButton.addEventListener('click', () => {
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
                video.srcObject = null;
            }
        });

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('video_frame', function(data) {
            img.src = 'data:image/jpeg;base64,' + data.frame;
        });
    </script>
</body>
</html>